
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 3.6rem;
  position: relative;
}

.logo {
  height:160px;
  width:260px;
  margin-left: 500px;
  margin-right: 500px;
}

.logo1{
  height:150px;
  width:200px;
  margin-top: 300px;
}

.logo2{
  height:160px;
  width:130px;
  margin-top:200px ;
}

.book-img {
  width: 500px;
  margin-bottom: 300px;
}

.section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.sect{
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.book-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}


.delivered-books {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.imgs {
  display: flex;
}

.imgs img {
  height: 4.6rem;
  width: 4.6rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.imgs img:last-child {
  margin: 0;
}

.text {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}


.text span {
  color: #cf711f;
  font-weight: 700;
} 


